@* Don't separate the tags, otherwise a space will be added between them*@
<div>
    <MudText Class="d-inline" Typo="@Typo" Color="Color.Primary">P</MudText><MudText Class="d-inline" Typo="@Typo">ark</MudText><MudText Class="d-inline" Typo="@Typo" Color="Color.Primary">P</MudText><MudText Class="d-inline" Typo="@Typo">lan</MudText>
</div>

@code {
    [Parameter]
    public Typo Typo { get; set; }
}