@page "/ReservationDetails"
@using ParkPlan.Data;
@inject UserService UserService

<h3>ReservationDetails</h3>

<MudDatePicker Label="Editable with Placeholder" Editable="true" @bind-Date="User.Date" Placeholder="Select Date" />

@code {

    private User User { get; set; }

    DateTime? Date = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        User = await UserService.GetUserAsync();
    }

}